@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.path {
	position: relative;
	overflow: hidden;
	width: 60%;
	height: 69%;
    margin-left: 20px;
    margin-bottom: 1px;
	border: 10px solid #000;
}

body {
    overflow: hidden;
    font-family: Montserrat, sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
	text-align: center;
	height: 100vh;
    background: #cff1ff;
    color: black;
}

h1 {
    font-size: 60px;
    font-weight: 5px;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

h2 {
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    text-align: left;  
}

td {
    padding: 5px;
    width: 10px;
    text-align: center;
}
.block {
	position: absolute;
	width: 40px;
	height: 50px;
	margin: 0px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	white-space: nowrap;
}

#appraisal {
	cursor: pointer;
	position: absolute;
    right: 0px;
    top: -25px;
	user-select: none;
	border-radius: 5px;
	padding: 50px 30px 10px 30px;
	width: 200px;
	text-align: left;
	background: #cff1ff;

}

.imgPath {
    object-fit: fill;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: hidden */
}

#white_bars {
	border: 2px solid #cff1ff;
	position: absolute;
	width: 40px;
	height: 150px;
	top: 70px;
	left: 68px;
}

#white_bars2 {
	border: 2px solid #cff1ff;
	position: absolute;
	width: 40px;
	height: 190px;
	top: 0;
	left: 148px;
}

.bar {
	width: 200px;
	background: white;
	margin: 5px 0 15px 0;
}

#hp_bar { 
  margin-bottom: 5px; 
  color: white;
}

#attack_bar { 
  margin-bottom: 5px; 
  color: white;
}

#defense_bar { 
  margin-bottom: 5px; 
  color: white;
}

.bar, .bar div {
	height: 10px;
	border-radius: 10px;
}

.bar div {
	background: currentColor;
}

.brick {
   	position: relative;
	width: 120px;
	height: 10px;
	margin: 0px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	white-space: nowrap; 
}

button {
    height: 60px;
    width: 200px;
    margin-top: 20px;
    font-size: 15px;
    background-color: lightgreen;
}

#reset {
    background-color: red;
}

#left {
    background-color: pink;
}

#right {
    background-color: orange;
}

#score {
    color: black;
}

#gameover {
    margin: 50;
    font-size: 50px;
}

.progress {
    width: 450px;
    height: 50px;
}

.progress2 {
    background: #ffe799;
    color: white;
    position: absolute;
    bottom:300px;
    left:-100px;
    border-radius: 10px;
    transform: rotate(90deg);
}

.progress-bar {
    background: #ddd;
	width: 0px;
    left: 0;
    position: absolute;
    top: 0;
}   

.rotated {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    position:absolute;
    bottom:50px;
    left:80px;
}

.rotated2 {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    position:absolute;
    bottom:30px;
    left:100px;
}

/* Popup Box */
.screen-overlay {
  display: none;
  height: 100%;
  left: 0%;
  opacity: 0;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 9000;
}

.popup-box,
  .popup-results {
    background-color: #333;
    border: 3px solid white;
    box-shadow: 5px 5px 5px #444;
    display: none;
    left: 50%;
    opacity: 1;
    overflow: auto;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 9100;
  }
  
  .popup-text {
    color: white;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
  
  .popup-text p {
    padding: 18px;
  }
  
  .popup-text h3 {
    font-size: 30px;
    line-height: 1.4;
    padding: 14px;
  }
  
  .hidden-assets {
    display: none;
  }

.store {
  height: 150px;
  width: 150px;
  border-radius: 50%; 
  background-color: white;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

button {
  background: #f7931e;
  border: 3px solid white;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 15px 10px;
  outline: none;
  padding: 15px 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  top: 10px;
  z-index: 100;
}

button:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.button {
  font-size:1em; padding:10px; color: white; 
  border: 2px solid #f2accb;  border-radius: 20px/50px;
  text-decoration:none; cursor:pointer; transition:all 0.3s ease-out;
  width: 20%;
}

.button:hover {
  background-color: #f2accb;
}

.overlay {
position:fixed; top:0; bottom:0; right:0; left:0; 
background: rgba(0, 0, 0,0.7); transition:opacity 500ms;
visibility:hidden; opacity:0; 
}

.overlay:target {
visibility:visible; opacity:1;
}

.popup {
margin: 40px auto; padding:20px; background:#fff799;
border-radius:5px; width:1060px; height:85%; transition:all 2s ease-in-out; 
text-align: center;
}

.popup p#A {
margin-top:0; color:white; font-size:20px; text-align: center; 
}

.popup .close#Not_Link {
position:absolute; margin:0px; float:right; top:12px; right:12px; padding:0px 6px;
font-size:20px; text-decoration:none; color:black;
background-color:#fff799; border:none;
}

.popup .close:hover {
background-color:black; color: #fff799;
}

.popup .content {
max-height:30%; overflow:auto; padding: 20px;
}

#purchase {
background-color: #ffc628;
color: black;
padding: 20px 30% 20px 30%; margin:5px 5px 5px 5px;
display: inline-block;
text-decoration:none; border:black 1px solid;
}

#purchase:hover, a:active {
background-color: #9fe4ff; color: black;
border:#9fe4ff 1px solid;
}

#purchase:visited{
color: rgb(1, 29, 61); border:rgb(233, 233, 233) 1px solid;
}

#boosters {
font-family:Montserrat,sans-serif;
font-size: 30px;
font-weight: 20px;
color:black;
background-color: #ffc628;
margin: auto;
}

h2 {
  text-align: center;
  font-size:30px;
}

#block_container {
  display: inline-block;
  justify-content: center;
}