/* Background Styles Only */

@import url('https://fonts.googleapis.com/css?family=Raleway');
  .title{
      font-size: 75px;
      background: -webkit-linear-gradient(#03fc77, #5bb5b4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
* {
    font-family: Raleway;
}

.loseSanity {
  font-size:100px;
  opacity: 1;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
  animation-name:blinker;
  animation: blinker 1s linear infinite;
  animation-iteration-count: 2;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

@keyframes blinker {
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 


